* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
  font-family: "Calibri", sans-serif;
  display: flex;
  flex-direction: column;
  color: #155171;
  width: 100vw;
  max-width: 100%;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.personal-info {
  color: #155171;
  padding: 1rem;
  height: auto;
  width: 90vw;
}

.name {
  padding-bottom: 1rem;
}

.text {
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
}

.profile {
  font-size: 1.1rem;
  font-weight: 600;
  width: 100%;
  padding-bottom: 1rem;
}

.container {
  text-align: left;
  line-height: 1.5rem;
  font-size: 1.1rem;
  width: 100%;
  padding-bottom: 1rem;
}

.resume-obj {
  width: 90vw;
}

.resume-p {
  padding: 1rem;
}
.work-edu-container {
  text-align: left;
  padding: 1rem;
  width: 100%;
}
ul {
  padding: 1rem;
}

.projects {
  text-align: left;
  padding: 1rem;
  width: 100%;
}

.project-container {
  padding-bottom: 1rem;
}

.projects__header {
  padding-bottom: 1rem;
}

@media all and (min-width: 401px) {
  .App {
    text-align: center;
    font-family: "Calibri", sans-serif;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(1px, auto);
  }
  .personal-info {
    grid-row: 1/-1;
    background-color: #155171;
    color: white;
    width: 20vw;
  }
  .resume-obj {
    grid-column: 2/3;
    width: 60vw;
    margin-top: 30px;
    text-align: left;
  }

  .work-edu-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: minmax(1px, auto);
    height: fit-content;
    width: 100%;
  }
  .header {
    grid-column: 1/-1;
  }
  .period {
    grid-column: 1/2;
    height: 100%;
    padding: 0.5rem;
    width: fit-content;
  }
  .job-edu {
    grid-column: 2/3;
    padding: 0.5rem;
    text-align: left;
    justify-content: start;
    width: fit-content;
  }
  .skills {
    grid-column: 2/3;
    padding: 0.5rem 1rem;
    text-align: left;
    justify-content: start;
    width: fit-content;
  }
  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
